.idea
.DS_Store
sentiment_analysis_trainingset.csv
sentiment_analysis_testset.csv
sentiment_analysis_validationset.csv

ai_challenger_sentiment_analysis_trainingset_20180816/sentiment_analysis_trainingset.csv
ai_challenger_sentiment_analysis_testa_20180816/sentiment_analysis_testa.csv
ai_challenger_sentiment_analysis_validationset_20180816/sentiment_analysis_validationset.csv

data/

.ipynb_checkpoints/
